/*/node_modules
/*/typings

nodejs-client/app/*.js
nodejs-client/app/*/*.js
nodejs-client/app/*.map
nodejs-client/app/*/*.map
nodejs-client/dist

/nodejs-sqlite-api/nodeAPI.sqlite
/nodejs-sqlite-api/public

/nodejs-mongo-api/public

npm-debug.log
