<md-toolbar color="primary">
      <span>Person Register</span>
</md-toolbar>
<md-card>
      <md-toolbar class="toolbar">
            <button md-fab color="primary" (click)="gotoHome()" title="Home Page">
                  <md-icon class="md-24">home</md-icon>
            </button>
            <button md-fab color="primary" (click)="gotoList()" title="List Person">
                  <md-icon class="md-24">list</md-icon>
            </button>
      </md-toolbar>
      <br />
      <md-input required placeholder="First name" [(ngModel)]="person.firstName" style="width: 100%">
            <md-hint *ngIf="!person.firstName">First name is required</md-hint>
      </md-input>
      <md-input required placeholder="Last name" [(ngModel)]="person.lastName" style="width: 100%">
            <md-hint *ngIf="!person.lastName">Last name is required</md-hint>
      </md-input>
      <md-input required placeholder="Email" [(ngModel)]="person.email" style="width: 100%">
            <md-hint *ngIf="!person.email">Email is required</md-hint>
      </md-input>
      <button md-raised-button color="primary" [disabled]="!person.firstName || !person.lastName || !person.email" (click)="save()">save</button>
</md-card>