<md-toolbar color="primary">
      <span>Person View</span>
</md-toolbar>
<md-card *ngIf="person">
      <md-toolbar class="toolbar">
        <button md-fab color="primary" (click)="gotoHome()" title="Home Page">
            <md-icon class="md-24">home</md-icon>
        </button>
        <button md-fab color="primary" (click)="gotoList()" title="List Person">
            <md-icon class="md-24">list</md-icon>
        </button>
        <!--<button md-fab color="primary">
            <md-icon class="md-24">mode_edit</md-icon>
        </button>-->
    </md-toolbar>
    <br />
    <md-input class="demo-full-width" placeholder="First name" disabled value="{{person.firstName}}" style="width: 100%"></md-input>
    <md-input class="demo-full-width" placeholder="Last name" disabled value="{{person.lastName}}" style="width: 100%"></md-input>
    <md-input class="demo-full-width" placeholder="Email" disabled value="{{person.email}}" style="width: 100%"></md-input>
</md-card>